= form_for @community_growth_form do |f|
  - if @community_growth_form.errors.any?
    #error_explanation
      %h2= "#{pluralize(@community_growth_form.errors.count, "error")} prohibited this community_growth_form from being saved:"
      %ul
        - @community_growth_form.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description, class: "form-control"
  .field
    = f.label :count
    = f.number_field :count, class: "form-control"
  .field
    = f.label :percentage_cover_mean
    = f.text_field :percentage_cover_mean, class: "form-control"
  .field
    = f.label :occurance_mean
    = f.text_field :occurance_mean, class: "form-control"
  .field
    = f.label :slope
    = f.text_field :slope, class: "form-control"
  .field
    = f.label :intercept
    = f.text_field :intercept, class: "form-control"
  .field
    = f.label :percentage_cover
    = f.text_field :percentage_cover, class: "form-control"
  .field
    = f.label :proportional_cover
    = f.text_field :proportional_cover, class: "form-control"
  .field
    = f.label :mean_canopy_diameter
    = f.text_field :mean_canopy_diameter, class: "form-control"
  .field
    = f.label :individuals_per_hectare
    = f.text_field :individuals_per_hectare, class: "form-control"
  .field
    = f.label :std_deviation
    = f.text_field :std_deviation, class: "form-control"
  .field
    = f.label :std_error
    = f.text_field :std_error, class: "form-control"
  .field
    = f.label :report_community_id
    - projects = Project.where(company_id:current_user.company_id)
    - communities = Community.where(project:projects)
    = f.collection_select(:report_community_id, ReportCommunity.where(community:communities), :id, :id, {}, {:class=>'form-control'})
  .field
    = f.label :has_strong_competitor
    = f.check_box :has_strong_competitor
  .field
    = f.label :has_normal_competitor
    = f.check_box :has_normal_competitor
  .field
    = f.label :has_weak_competitor
    = f.check_box :has_weak_competitor
  .clear-20
  .actions
    = f.submit 'Save', class: "btn btn-success pull-right"
