%h1.page-header
  Listing
  %small
    Community Growth Forms
= link_to '<i class="fa fa-plus"></i> New Community growth form'.html_safe, new_community_growth_form_path, class: "btn btn-success pull-right"

%table.table
  %thead
    %tr
      %th ID
      %th Description
      %th Count
      %th Report Community
      %th Community
      %th
      %th
      %th
      %th

  %tbody
    - @community_growth_forms.each do |community_growth_form|
      %tr
        %td= community_growth_form.id
        %td= community_growth_form.description
        %td= community_growth_form.count
        %td= community_growth_form.report_community.id
        %td= community_growth_form.report_community.community.name
        %td= link_to 'Show', community_growth_form , class: "btn btn-primary"
        %td= link_to 'Edit', edit_community_growth_form_path(community_growth_form), class: "btn btn-default"
        %td= link_to 'Destroy', community_growth_form, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

%br
