%h1.page-header
  Showing
  %small
    Community Growth Form
%h4
  %b Report Community:
  = @community_growth_form.report_community.id
%h4
  %b Community:
  = @community_growth_form.report_community.community.name
%h4
  %b Description:
  = @community_growth_form.description
%h4
  %b Count:
  = @community_growth_form.count
%h4
  %b Percentage cover mean:
  = @community_growth_form.percentage_cover_mean
%h4
  %b Occurance mean:
  = @community_growth_form.occurance_mean
%h4
  %b Slope:
  = @community_growth_form.slope
%h4
  %b Intercept:
  = @community_growth_form.intercept
%h4
  %b Percentage cover:
  = @community_growth_form.percentage_cover
%h4
  %b Proportional cover:
  = @community_growth_form.proportional_cover
%h4
  %b Mean canopy diameter:
  = @community_growth_form.mean_canopy_diameter
%h4
  %b Individuals per hectare:
  = @community_growth_form.individuals_per_hectare
%h4
  %b Std deviation:
  = @community_growth_form.std_deviation
%h4
  %b Std error:
  = @community_growth_form.std_error
%h4
  %b Has strong competitor:
  = @community_growth_form.has_strong_competitor
%h4
  %b Has normal competitor:
  = @community_growth_form.has_normal_competitor
%h4
  %b Has weak competitor:
  = @community_growth_form.has_weak_competitor

= link_to 'Edit', edit_community_growth_form_path(@community_growth_form), class: "btn-primary btn"
= link_to 'Back', community_growth_forms_path, class: "btn-default btn"
