= form_for @report_community do |f|
  - if @report_community.errors.any?
    #error_explanation
      %h2= "#{pluralize(@report_community.errors.count, "error")} prohibited this report_community from being saved:"
      %ul
        - @report_community.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :percentage_cover
    = f.text_field :percentage_cover, class: "form-control"
  .field
    = f.label :mean_canopy_diameter
    = f.text_field :mean_canopy_diameter, class: "form-control"
  .field
    = f.label :individuals_per_hectare
    = f.text_field :individuals_per_hectare, class: "form-control"
  .field
    = f.label :community_id
    - projects = Project.where(company_id:current_user.company_id)
    = f.collection_select(:community_id, Community.where(project:projects), :id, :name, {}, {:class=>'form-control'})

  .clear-20
  .actions
    = f.submit 'Save', class: "btn btn-success pull-right"
