%h1.page-header
  Listing
  %small
    Report Communities
= link_to '<i class="fa fa-plus"></i> New Report community'.html_safe, new_report_community_path, class: "btn btn-success pull-right"

%table.table
  %thead
    %tr
      %th ID
      %th Percentage cover
      %th Mean canopy diameter
      %th Individuals per hectare
      %th Community
      %th
      %th
      %th

  %tbody
    - @report_communities.each do |report_community|
      %tr
        %td= report_community.id
        %td= report_community.percentage_cover
        %td= report_community.mean_canopy_diameter
        %td= report_community.individuals_per_hectare
        %td= report_community.community.name
        %td= link_to 'Show', report_community, class: "btn btn-primary"
        %td= link_to 'Edit', edit_report_community_path(report_community), class: "btn btn-default"
        %td= link_to 'Destroy', report_community, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
%br
