= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name, class: "form-control"
  .field
    = f.label :start_date
    %br
    = f.date_select :start_date
  .field
    = f.label :expected_delivery_date
    %br
    = f.date_select :expected_delivery_date
  .field
    = f.label :actual_delivery_date
    %br
    = f.date_select :actual_delivery_date

  .field
    = f.label :date_changed
    %br
    = f.date_select :date_changed
  .field
    = f.label :active
    = f.check_box :active
  .clear-20
  .actions
    = f.submit 'Save', class: "btn-success btn pull-right"
