%h1.page-header
  Show All Community Growth Forms
-if(@community_growth_forms)
  %table.table
    %tr
      %th
        Id
      %th
        Description
      %th
        Count
      %th
        Percentage cover Mean
      %th
        Occurance Mean
      %th
        Slope
      %th
        Intercept
      %th
        Precentage Cover
      %th
        Proportional Cover
      %th
        Mean Canopy Cover
      %th
        Individuals Per Hectare
      %th
        Std Deviation
      %th
        Std Error
      %th
        has_strong_competitor
      %th
        has_normal_competitor
      %th
        has_weak_competitor
      %th
        report_community
      %th
        order


    -@community_growth_forms.each do |cgf|
      %tr
        %th
          = cgf.id
        %th
          = cgf.description
        %th
          = cgf.count
        %th
          = cgf.percentage_cover_mean
        %th
          = cgf.occurance_mean
        %th
          = cgf.slope
        %th
          = cgf.intercept
        %th
          = cgf.percentage_cover
        %th
          = cgf.proportional_cover
        %th
          = cgf.mean_canopy_diameter
        %th
          = cgf.individuals_per_hectare
        %th
          = cgf.std_deviation
        %th
          = cgf.std_error
        %th
          = cgf.has_strong_competitor
        %th
          = cgf.has_normal_competitor
        %th
          = cgf.has_weak_competitor
        %th
          = cgf.report_community_id
        %th
          = cgf.order

-else
  %p No data found
= link_to 'Back', field_data_path, class: "btn btn-default"
