%h1.page-header
  Show All Growth Forms
-if(@growth_forms)
  %table.table
    %tr
      %th
        Id
      %th
        Observation Id
      %th
        Description
      %th
        Code
      %th
        Order
    -@growth_forms.each do |growth_form|
      %tr
        %td
          = growth_form.id
        %td
          = growth_form.observation_id
        %td
          =growth_form.description
        %td
          = growth_form.code
        %td
          = growth_form.order
-else
  %p No data found
= link_to 'Back', field_data_path, class: "btn btn-default"
