%h1.page-header
  Show All Field Data
-if(@field_data)
  %table.table
    %tr
      %th
        FldId
      %th
        Date
      %th
        Releve Number

      %th
        Location

      %th
        Lat Hr
      %th
        Lat Min
      %th
        Lat Sec
      %th
        Long Hr
      %th
        Long Min
      %th
        Long Sec
      %th
        Observer
      %th
        Scale
      %th
        Habitat description
    -@field_data.each do |field_datum|
      %tr
        %td
          =field_datum.id
        %td
          = field_datum.date
        %td
          = field_datum.releve_number
        %td
          = field_datum.location
        %td
          = field_datum.latitude_degree
        %td
          = field_datum.latitude_minutes
        %td
          = field_datum.latitude_seconds
        %td
          = field_datum.longitude_degree
          %td
          = field_datum.longitude_minutes
        %td
          = field_datum.longitude_seconds
        %td
          = field_datum.observer
        %td
          = field_datum.scale
        %td
          = field_datum.habitat_description
-else
  %p No data found
= link_to 'Back', field_data_path, class: "btn btn-default"
