= form_for @field_datum do |f|
  - if @field_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@field_datum.errors.count, "error")} prohibited this field_datum from being saved:"
      %ul
        - @field_datum.errors.full_messages.each do |msg|
          %li= msg
  .field.col-lg-6.no-padding-left
    = f.label :project_id
    = f.collection_select(:project_id, Project.where(company_id:current_user.company_id), :id, :name, {}, {:class=>'form-control'})
  .field.col-lg-6.no-padding-right
    = f.label :date
    %br
    = f.date_select :date
  .field.col-lg-6.no-padding-left
    =f.label :observer
    =f.text_field :observer,:class=>'form-control'

  .field.col-lg-6.no-padding-right
    = f.label :scale
    = f.text_field :scale,:class=>'form-control'
  .field.col-lg-6.no-padding-left
    = f.label :releve_number
    = f.number_field :releve_number,:class=>'form-control'
  .field.col-lg-6.no-padding-right
    = f.label :location
    = f.text_field :location,:class=>'form-control'
  .field.col-lg-4.no-padding-left
    = f.label :latitude_degree
    = f.number_field :latitude_degree,:class=>'form-control'
  .field.col-lg-4
    = f.label :latitude_minutes
    = f.number_field :latitude_minutes,:class=>'form-control'
  .field.col-lg-4.no-padding-right
    = f.label :latitude_seconds
    = f.number_field :latitude_seconds,:class=>'form-control'
  .field.col-lg-4.no-padding-left
    = f.label :longitude_degree
    = f.number_field :longitude_degree,:class=>'form-control'
  .field.col-lg-4
    = f.label :longitude_minutes
    = f.number_field :longitude_minutes,:class=>'form-control'
  .field.col-lg-4.no-padding-right
    = f.label :longitude_seconds
    = f.number_field :longitude_seconds,:class=>'form-control'
  .field.col-lg-6.no-padding-left
    = f.label :habitat_description
    = f.text_field :habitat_description,:class=>'form-control'
  .field.col-lg-6.no-padding-right
    = f.label :community_id

    = f.collection_select(:community_id, Community.select(:id, :description), :id, :description, {},{:class=>'form-control'} )
  -#Community.where(project_id:f.collection_select(:project_id,Project.where(company_id:current_user.company_id),:id,:name,{})), :id, :description, {}, {:class=>'form-control'})
  -# .field
  -#   = f.label :habitat_description
  -#   = f.collection_select(:community_id, Comunity.where(company_id:current_user.company_id), :id, :name, {}, {:class=>'form-control'})
  .clear-20
  %h2.page-header
    Observations
  .sub-headings
    .col-lg-2
      %b Growth form
    .col-lg-3
      %b Species
    .col-lg-2
      %b Crown Diameters
    .col-lg-2
      %b Plant Covers
    .col-lg-3
      %b Notes
  #observations

    = f.fields_for :observations do |builder|
      = render 'observation_fields', f:builder
    .links
      = link_to_add_association '<i class="fa-plus fa"></i> Add Observation'.html_safe, f, :observations, class: "btn btn-primary btn-sm pull-right add_obs"
  .clear-20
  .actions
    = f.submit 'Save', class: "btn btn-success pull-right"
