= form_for @field_datum do |f|
  - if @field_datum.errors.any?
    #error_explanation
      %h2= "#{pluralize(@field_datum.errors.count, "error")} prohibited this field_datum from being saved:"
      %ul
        - @field_datum.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :date
    %br
    = f.date_select :date
  .field
    = f.label :location_id
    = f.collection_select(:location_id, Location.where(company_id: current_user.company_id), :id, :name, {}, {:class=>'form-control'})
  .field.col-lg-4.no-padding-left
    = f.label :latitude_degree
    = f.number_field :latitude_degree,:class=>'form-control'
  .field.col-lg-4
    = f.label :latitude_minutes
    = f.number_field :latitude_minutes,:class=>'form-control'
  .field.col-lg-4.no-padding-right
    = f.label :latitude_seconds
    = f.text_field :latitude_seconds,:class=>'form-control'
  .field.col-lg-4.no-padding-left
    = f.label :longitude_degree
    = f.number_field :longitude_degree,:class=>'form-control'
  .field.col-lg-4
    = f.label :longitude_minutes
    = f.number_field :longitude_minutes,:class=>'form-control'
  .field.col-lg-4.no-padding-right
    = f.label :longitude_seconds
    = f.text_field :longitude_seconds,:class=>'form-control'
  .field
    = f.label :habitat_description
    = f.text_field :habitat_description,:class=>'form-control'
  .field
    = f.label :project_id
    = f.collection_select(:project_id, Project.where(company_id:current_user.company_id), :id, :name, {}, {:class=>'form-control'})
  .clear-20
  #observations
    = f.fields_for :observations do |builder|
      = render 'observation_fields', f:builder
  .clear-20
  .links
    = link_to_add_association '<i class="fa-plus fa"></i> Add Observation'.html_safe, f, :observations, class: "btn btn-primary btn-sm"
  .clear-20
  .actions
    = f.submit 'Save', class: "btn btn-success pull-right"
