%h1.page-header
  Listing
  %small
    Field Data
= link_to '<i class="fa fa-plus"></i> New Field data'.html_safe, new_field_datum_path, class: "btn btn-success pull-right"

%table.table
  %thead
    %tr
      %th Date
      %th Location
      %th Project
      %th User
      %th
      %th
      %th
  %tbody
    - @field_data.each do |field_datum|
      -# -if field_datum.project.company_id == current_user.company_id
      %tr
        %td= field_datum.date
        - if Location.exists?(field_datum.location_id)
          %td= field_datum.location.name
        - else
          %td.error
            Location deleted
        %td= field_datum.project.name
        %td
          - if User.exists?(field_datum.user_id)
            = User.find(field_datum.user_id).email
          - else
            %span.error
              User Deleted
        %td= link_to 'Show', field_datum, class: "btn btn-primary"
        %td= link_to 'Edit', edit_field_datum_path(field_datum), class: "btn btn-default"
        - if field_datum.user_id == current_user.id
          %td= link_to 'Delete', field_datum, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
%br
