%h1.page-header
  Show
  %small
    Field Data
.col-lg-10
  .col-lg-6.no-padding
    %h4
      %b Project:
      = @field_datum.project.name
  .col-lg-6.no-padding
    %h4
      %b Date:
      = @field_datum.date
  .col-lg-6.no-padding
    %h4
      %b Scale:
      = @field_datum.scale
  .col-lg-6.no-padding
    %h4
      %b Releve Number:
      = @field_datum.releve_number
  .col-lg-6.no-padding
    %h4
      %b Latitude:
      = "#{@field_datum.latitude_degree} &deg;".html_safe
      = "#{@field_datum.latitude_minutes} '"
      = "#{@field_datum.latitude_seconds} ''"
  .col-lg-6.no-padding
    %h4
      %b Longitude:
      = "#{@field_datum.longitude_degree} &deg;".html_safe
      = "#{@field_datum.longitude_minutes} '"
      = "#{@field_datum.longitude_seconds} ''"
  .col-lg-6.no-padding
    %h4
      %b Location:
      - if Location.exists?(@field_datum.location_id)
        = @field_datum.location.name
      - else
        %span.error
          Location deleted
  .col-lg-6.no-padding
    %h4
      %b User:
      - if User.exists?(@field_datum.user_id)
        = User.find(@field_datum.user_id).email
      - else
        %span.error
          User Deleted
  .col-lg-12.no-padding
    %h4
      %b Habitat description:
      = @field_datum.habitat_description
  - if @field_datum.observations.count > 0
    .clear-20
    %table.table
      %tr
        %th
          Growth form
        %th
          Species
        %th
          Crown Diameter
        %th
          Plant cover
        %th
          Notes
      - @field_datum.observations.each do |observation|
        %tr
          %td
            - if observation.growth_forms.count > 0
              - observation.growth_forms.each do |grow|
                = grow.description
          %td
            = observation.species.name
          %td
            - if observation.crown_diameters.count > 0
              - observation.crown_diameters.each do |crown|
                = crown.code
          %td
            - if observation.plant_covers.count > 0
              - observation.plant_covers.each do |plant|
                = plant.code
          %td
            = observation.notes
  .clear-20
  = link_to 'Edit', edit_field_datum_path(@field_datum), class: "btn btn-primary"
  = link_to 'Back', field_data_path, class: "btn btn-default"
