%h1.page-header
  Listing
  %small
    Communities
= link_to '<i class="fa fa-plus"></i> New Community'.html_safe, new_community_path, class: "btn btn-success pull-right"

%table.table
  %thead
    %tr
      %th Name
      %th Desctiption
      %th
      %th
      %th

  %tbody
    - @communities.each do |community|
      %tr
        %td= community.name
        %td= community.desctiption
        %td= link_to 'Show', community, class: "btn btn-default"
        %td= link_to 'Edit', edit_community_path(community), class: "btn btn-primary"
        -# %td= link_to 'Destroy', community, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"
%br
