%h1.page-header
  Appendix A
  %small
    Community Cover
%h2
  Date:
  %small
    = DateTime.now
%table.table.table-striped
  %th Species
  %th Mean Cover %
  %th Mean Canopy dia
  %th Individ per ha
  - objArray = Array.new
  - @project.field_datum.each do |field_data|
    - field_data.observations.each do |observation|
      - @report_community = ReportCommunity.find_by(community:field_data.community)
      -  observation.growth_forms.each do |growth_form|
        - description = growth_form.code
        - community_growth_form = CommunityGrowthForm.find_by(description:description,report_community_id:@report_community.id)
        - community_cover = CommunityCover.find_by(species_id:observation.species.id,community_growth_form:community_growth_form)
        - if !community_cover.nil?
          %tr
            %td
              = community_cover.species.name
            %td
              = community_growth_form.percentage_cover_mean
            %td
              = community_growth_form.mean_canopy_diameter
            %td
              = community_growth_form.individuals_per_hectare
