%h1
  Plant Species
%table.table.table-striped
  %th Family:
  %th Species:
  %th Threat status:
  %th Sa endemic:
  %th Common name:
  %th Life cycle:
  %th Growth forms:
  %th Min hieght:
  %th Max height:
  %th Min altitude:
  %th Max altitude:
  %th Distribution:
  - Species.all.each do |species|
    %tr
      %td
        = species.species_family.name
      %td
        = species.name
      %td
        = species.threat_status
      %td
        = species.sa_endemic
      %td
        = species.sysnonym_of
      %td
        = species.life_cycle
      %td
        = species.growth_forms
      %td
        = species.min_hieght
      %td
        = species.max_height
      %td
        = species.min_altitude
      %td
        = species.max_altitude
      %td
        = species.distribution
