%h1.page-header
  Listing
  %small
    Locations
= link_to '<i class="fa fa-plus"></i> New Location'.html_safe, new_location_path, class: "btn btn-success pull-right"

%table.table
  %thead
    %tr
      %th Name
      %th Country
      %th Province
      %th City
      %th Address 1
      %th Address 2
      %th
      %th
      %th

  %tbody
    - @locations.each do |location|
      %tr
        %td= location.name
        %td= location.country
        %td= location.province
        %td= location.city
        %td= location.address_1
        %td= location.address_2
        %td= link_to 'Show', location, class: "btn btn-primary"
        %td= link_to 'Edit', edit_location_path(location), class: "btn btn-default"
        %td= link_to 'Delete', location, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

%br
